@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
.liquid-glass {
    background: rgba(17, 24, 39, 0.2);backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
}
.liquid-glass-orange {
    box-shadow: 0 8px 32px 0 rgba(251, 146, 60, 0.37);
}
.liquid-glass-orange:hover {
    background: rgba(251, 146, 60, 0.2);
    box-shadow: 0 12px 40px 0 rgba(251, 146, 60, 0.5);
    transform: scale(1.05);
}
.liquid-glass-blue {
    box-shadow: 0 8px 32px 0 rgba(96, 165, 250, 0.37);
}
.liquid-glass-blue:hover {
    background: rgba(96, 165, 250, 0.2);
    box-shadow: 0 12px 40px 0 rgba(96, 165, 250, 0.5);
    transform: scale(1.05);
}
@keyframes float {
0% {
    transform: translateY(0px);
}
50% {
    transform: translateY(-10px);
}
100% {
    transform: translateY(0px);
}
}
.floating {
animation: float 6s ease-in-out infinite;
}

.msg {
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #c3e6cb;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}


/* Estilização lá de baixo */

@keyframes animate-blob {
0% {
    transform: scale(1) translateY(0) rotate(0deg);
    opacity: 0.5;
}
50% {
    transform: scale(1.4) translateY(-80px) rotate(180deg);
    opacity: 0.3;
}
100% {
    transform: scale(1) translateY(0) rotate(360deg);
    opacity: 0.5;
}
}
.animate-blob {
animation: animate-blob 20s infinite ease-in-out;
}
.animation-delay-2000 {
animation-delay: -5s;
}
.animation-delay-4000 {
animation-delay: -10s;
}
.animation-delay-5000 {
    animation-delay: -15s;
}